In [111]:
from mysql import connector
import pandas as pd
import os

In [132]:
conn  = connector.connect(
    host = "localhost",
    user = "root",
    password = "",
    database='zing42'
)
 
cursor = conn.cursor()

In [113]:
equityLoc = os.path.join(os.getcwd(),"tmp","equity",'EQUITY_L.csv')
df = pd.read_csv(equityLoc)
df.head()

,Unnamed: 0,SYMBOL,NAME OF COMPANY,SERIES,DATE OF LISTING,PAID UP VALUE,MARKET LOT,ISIN NUMBER,FACE VALUE
0,0,20MICRONS,20 Microns Limited,EQ,06-OCT-2008,5,1,INE144J01027,5
1,1,21STCENMGM,21st Century Management Services Limited,EQ,03-MAY-1995,10,1,INE253B01015,10
2,2,3IINFOLTD,3i Infotech Limited,EQ,22-OCT-2021,10,1,INE748C01038,10
3,3,3MINDIA,3M India Limited,EQ,13-AUG-2004,10,1,INE470A01017,10
4,4,3PLAND,3P Land Holdings Limited,EQ,19-JUL-1995,2,1,INE105C01023,2

In [114]:

columns = list(df.columns)
columns[0] = "ID"
columns = [i.strip() for i in columns]

dtypes = list(df.dtypes)

for i in range(len(dtypes)):
    if dtypes[i]=="int64":
        dtypes[i]="INT"
    else:
        dtypes[i]="VARCHAR(255)"

cond = ["NOT NULL"]*len(dtypes)

df.columns=columns

print(dtypes)

['INT', 'VARCHAR(255)', 'VARCHAR(255)', 'VARCHAR(255)', 'VARCHAR(255)', 'INT', 'INT', 'VARCHAR(255)', 'INT']

In [115]:
sql="CREATE TABLE `EQUITY` ("
for i in range(len(columns)):
    if i:
        sql=sql+', '
    str = "`{}` {} {}".format(columns[i],dtypes[i],cond[i])
    sql=sql+str
sql=sql+")  ENGINE = InnoDB;"
cursor.execute(sql)

In [116]:
for ind in df.index:
    lst=[]
    
    for col in columns:
        lst.append(df[col][ind])
    
    query = """INSERT INTO `equity` (`ID`, `SYMBOL`, `NAME OF COMPANY`, `SERIES`, `DATE OF LISTING`, `PAID UP VALUE`, `MARKET LOT`, `ISIN NUMBER`, `FACE VALUE`) VALUES ("{}", "{}", "{}", "{}", "{}", "{}", "{}", "{}", "{}");""".format(*lst)

    cursor.execute(query)
    conn.commit()

In [117]:
bhavLoc = os.path.join(os.getcwd(),"tmp","bhavcopy",'cm27DEC2022bhav.csv')
df = pd.read_csv(bhavLoc)
df.head()

,SYMBOL,SERIES,OPEN,HIGH,LOW,CLOSE,LAST,PREVCLOSE,TOTTRDQTY,TOTTRDVAL,TIMESTAMP,TOTALTRADES,ISIN,Unnamed: 13
0,182D020223,TB,99.00,99.00,99.00,99.00,99.00,97.15,1300,128700.0,27-DEC-2022,2,IN002022Y187,NaN
1,182D090223,TB,98.90,99.00,98.90,98.90,98.90,98.85,3200,316580.0,27-DEC-2022,5,IN002022Y195,NaN
2,182D090323,TB,99.00,99.00,99.00,99.00,99.00,97.00,600,59400.0,27-DEC-2022,1,IN002022Y245,NaN
3,182D200423,TB,94.08,94.08,94.08,94.08,94.08,96.76,100,9408.0,27-DEC-2022,1,IN002022Y302,NaN
4,20MICRONS,EQ,87.90,89.90,86.00,88.25,87.90,86.85,130074,11480907.2,27-DEC-2022,2887,INE144J01027,NaN

In [120]:

columns = list(df.columns)
columns = [i.strip() for i in columns]

dtypes = list(df.dtypes)

for i in range(len(dtypes)):
    if dtypes[i]=="int64":
        dtypes[i]="INT"
    else:
        dtypes[i]="VARCHAR(255)"

cond = ["NOT NULL"]*len(dtypes)
print(cond)
print(dtypes)
print(columns)

['NOT NULL', 'NOT NULL', 'NOT NULL', 'NOT NULL', 'NOT NULL', 'NOT NULL', 'NOT NULL', 'NOT NULL', 'NOT NULL', 'NOT NULL', 'NOT NULL', 'NOT NULL', 'NOT NULL', 'NOT NULL']
['VARCHAR(255)', 'VARCHAR(255)', 'VARCHAR(255)', 'VARCHAR(255)', 'VARCHAR(255)', 'VARCHAR(255)', 'VARCHAR(255)', 'VARCHAR(255)', 'INT', 'VARCHAR(255)', 'VARCHAR(255)', 'INT', 'VARCHAR(255)', 'VARCHAR(255)']
['SYMBOL', 'SERIES', 'OPEN', 'HIGH', 'LOW', 'CLOSE', 'LAST', 'PREVCLOSE', 'TOTTRDQTY', 'TOTTRDVAL', 'TIMESTAMP', 'TOTALTRADES', 'ISIN', 'Unnamed: 13']

In [122]:
sql="CREATE TABLE `BHAVCOPY` ("
for i in range(len(columns)):
    if i:
        sql=sql+', '
    str = "`{}` {} {}".format(columns[i],dtypes[i],cond[i])
    sql=sql+str
sql=sql+")  ENGINE = InnoDB;"
cursor.execute(sql)

In [123]:
for ind in df.index:
    lst=[]
    
    for col in columns:
        lst.append(df[col][ind])

    query = """INSERT INTO `bhavcopy` (`SYMBOL`, `SERIES`, `OPEN`, `HIGH`, `LOW`, `CLOSE`, `LAST`, `PREVCLOSE`, `TOTTRDQTY`, `TOTTRDVAL`, `TIMESTAMP`, `TOTALTRADES`, `ISIN`, `Unnamed: 13`) VALUES ("{}", "{}", "{}", "{}", "{}", "{}", "{}", "{}", "{}", "{}", "{}", "{}", "{}", "{}");""".format(*lst)

    cursor.execute(query)
    conn.commit()

In [167]:
q="""SELECT *, ((close-open)/close)*100 as gain
FROM bhavcopy
order by gain desc LIMIT 25"""
cursor.execute(q)

myresult = cursor.fetchall()
for x in myresult:
  print(x)

('NPST', 'SM', '120.0', '154.0', '120.0', '151.4', '154.0', '140.1', 75200, '9866480.0', '27-DEC-2022', 30, 'INE0FFK01017', 'nan', 20.73976221928666)
('SANDESH', 'EQ', '790.55', '964.1', '790.55', '964.1', '964.1', '803.45', 81669, '74663923.35', '27-DEC-2022', 5759, 'INE583B01015', 'nan', 18.0012446841614)
('CENTUM', 'EQ', '634.9', '757.7', '624.5', '752.6', '757.7', '631.45', 464420, '336163046.75', '27-DEC-2022', 19861, 'INE320B01020', 'nan', 15.639117725219245)
('JINDALPHOT', 'EQ', '299.95', '347.45', '294.0', '347.45', '347.45', '289.55', 98317, '33044134.45', '27-DEC-2022', 4301, 'INE796G01012', 'nan', 13.671031803137144)
('NAVA', 'EQ', '211.0', '245.65', '207.65', '242.75', '243.3', '210.05', 4357698, '1019804213.25', '27-DEC-2022', 50108, 'INE725A01022', 'nan', 13.079299691040164)
('SREIBNPNCD', 'NR', '160.0', '183.95', '160.0', '183.28', '183.95', '180.0', 295, '52322.75', '27-DEC-2022', 3, 'INE881J08607', 'nan', 12.701876909646442)
('SONAMCLOCK', 'EQ', '44.95', '53.8', '44.85', '51.4', '51.5', '44.85', 1248350, '64284313.9', '27-DEC-2022', 2233, 'INE00LM01011', 'nan', 12.54863813229571)
('SPLIL', 'EQ', '67.0', '77.5', '65.5', '75.65', '76.5', '65.2', 453625, '33229654.25', '27-DEC-2022', 4268, 'INE978G01016', 'nan', 11.43423661599472)
('PRECOT', 'EQ', '168.95', '194.9', '168.0', '190.0', '189.45', '169.85', 6026, '1106556.95', '27-DEC-2022', 269, 'INE283A01014', 'nan', 11.078947368421058)
('SANGINITA', 'EQ', '21.15', '25.55', '20.0', '23.75', '24.1', '21.3', 515513, '12651495.8', '27-DEC-2022', 2018, 'INE753W01010', 'nan', 10.947368421052637)
('RAJTV', 'EQ', '49.65', '57.2', '48.3', '55.75', '56.0', '47.7', 374518, '20950023.7', '27-DEC-2022', 3650, 'INE952H01027', 'nan', 10.94170403587444)
('RSWM-RE', 'BE', '71.0', '81.9', '68.55', '79.7', '80.0', '70.2', 188674, '14351773.3', '27-DEC-2022', 1232, 'INE611A20016', 'nan', 10.9159347553325)
('KITEX', 'EQ', '179.5', '204.0', '179.5', '200.45', '199.3', '176.35', 2012652, '399958409.4', '27-DEC-2022', 25708, 'INE602G01020', 'nan', 10.451484160638557)
('MANUGRAPH', 'EQ', '14.9', '16.6', '14.9', '16.6', '16.6', '15.1', 83513, '1364218.7', '27-DEC-2022', 311, 'INE867A01022', 'nan', 10.240963855421692)
('ASHAPURMIN', 'EQ', '81.45', '93.7', '81.45', '89.9', '89.55', '80.25', 901452, '80691043.45', '27-DEC-2022', 10608, 'INE348A01023', 'nan', 9.399332591768635)
('PONNIERODE', 'EQ', '400.0', '447.0', '390.05', '441.4', '445.0', '380.3', 470320, '197729458.35', '27-DEC-2022', 12679, 'INE838E01017', 'nan', 9.379247847757131)
('EXCEL', 'BE', '0.5', '0.55', '0.5', '0.55', '0.55', '0.5', 13681303, '7485194.7', '27-DEC-2022', 1595, 'INE688J01023', 'nan', 9.090909090909099)
('WEWIN', 'EQ', '39.2', '43.05', '39.2', '43.05', '43.05', '41.0', 8718, '366272.6', '27-DEC-2022', 95, 'INE082W01014', 'nan', 8.943089430894297)
('MUKANDLTD', 'EQ', '115.6', '128.95', '115.0', '126.8', '127.5', '114.0', 475475, '59075242.15', '27-DEC-2022', 8077, 'INE304A01026', 'nan', 8.83280757097792)
('RHFL', 'N6', '411.0', '454.85', '396.6', '449.09', '449.0', '393.79', 1458, '627337.3', '27-DEC-2022', 46, 'INE217K07AG5', 'nan', 8.481596116591323)
('NAVKARCORP', 'EQ', '57.0', '64.2', '57.0', '62.2', '62.5', '56.2', 2560982, '157669916.95', '27-DEC-2022', 13731, 'INE278M01019', 'nan', 8.360128617363348)
('GANGAFORGE', 'EQ', '4.4', '5.15', '4.4', '4.8', '4.85', '4.3', 2633204, '13052059.15', '27-DEC-2022', 2128, 'INE691Z01023', 'nan', 8.333333333333323)
('TEMBO', 'EQ', '109.0', '119.4', '109.0', '118.85', '119.4', '108.55', 172358, '19937088.4', '27-DEC-2022', 1040, 'INE869Y01010', 'nan', 8.287757677745052)
('KCPSUGIND', 'EQ', '28.5', '31.5', '27.9', '31.05', '31.25', '26.85', 3587318, '108702225.15', '27-DEC-2022', 10901, 'INE790B01024', 'nan', 8.212560386473431)
('HECPROJECT', 'EQ', '33.45', '36.4', '30.65', '36.4', '36.4', '30.35', 17194, '602261.75', '27-DEC-2022', 161, 'INE558R01013', 'nan', 8.104395604395593)